@import "tailwindcss";

@theme {
  --color-dark-grey: #878787
}


body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 480px; /* Or another mobile breakpoint */
  margin: 0 auto;
  padding: 0 3rem;
  position: relative; /* Optional: useful for absolutely positioned children */
}
